# Dependencies
node_modules/
.pnp
.pnp.js

# Testing & Coverage
coverage/

# Production Build Output (optional: comment out if distributing pre-built binary in git)
# dist/

# Misc
.DS_Store
*.pem

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vite / IDE
.vite/
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
